html, body { height: 100%; }
body { font-size: 0.8125rem; }
.app { }
.fa-1x { font-size: 1rem; }
.mainMenu { z-index: 1; }
.mainMenu ul { display: flex; margin: 0; padding: 0; width: 100%; border-radius: 0 0 .25rem .25rem; list-style: none; font-size: inherit; }
.mainMenu > ul ul { flex-direction: column; position: absolute; padding: 0 0 .25rem; width: 15rem; border: none; background: #fff; box-shadow: 0 0.5rem 3rem rgb(0 0 0 / 40%); }
.mainMenu li { margin: 0; padding: 0; }
.mainMenu > ul { position: relative; background: none; }
.mainMenu > ul > li { position: relative; width: auto; }
.mainMenu > ul > li > ul { left: 0; top: 100%; }
.mainMenu > ul > li > ul > li { flex: 1 0 0; }
.mainMenu > ul > li > ul > li > ul { left: 100%; top: 0; }
.mainMenu > ul > li > a { position: relative; z-index: 1003; }
.mainMenu > ul .dropdown-menu { opacity: 0; visibility: hidden; transition: .1s; }
.mainMenu > ul li:hover > .dropdown-menu { opacity: 1; visibility: visible; }
.mainMenu > ul > li:hover > .dropdown-item { color: var(--bs-dropdown-link-hover-color); background-color: var(--bs-white); }
.mainMenu .dropdown-menu-end { left: auto; right: 0; }
.treeMenu { width: 17rem; }
.treeMenu a, .tabs-row a, .mainMenu > ul > li > a { color: #a9a9a9; }
.treeMenu a:hover { color: #d5d5d5; }
.tabs-row { overflow-y: hidden !important; }
.tabs-row > a { position: relative; width: 10rem; }
.tabs-row > a.tab-home { width: auto; }
.tabs-row > a.active { background: rgba(var(--bs-light-rgb), .1); }
.tabs-row > a.active::after { content: ""; position: absolute; left: 0; bottom: 0; right: 0; height: 3px; background: var(--bs-primary); }
